.btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 12px;
  background-color: #667;
  color: #fff;
  font-size: 0.875em;
  outline: none;
  cursor: pointer;
  border: 0;
  text-shadow: 1px 1px 0 rgb(0, 0, 0, 0.3);

  // &:hover {
  //     @if $button-hover-type == 'darken' {
  //         background-color: darken(#667, $button-hover-amount);
  //     }

  //     @if $button-hover-type == 'darken' {
  //         background-color: lighten(#667, $button-hover-amount);
  //     }
  // }
}

@mixin button($color) {
  background-color: #{$color};
  color: #fff;

  &:hover {
    @if $button-hover-type == "darken" {
      background-color: darken($color, $button-hover-amount);
    }

    @if $button-hover-type == "lighen" {
      background-color: lighten($color, $button-hover-amount);
    }
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button($value);
  }
}
