.main_header {
  width: 100%;
  background-color: $color-primary;

  .main_header_navigation {
    width: $width-content;
    margin: 0 auto;
    display: flex;
    padding: 20px;

    ul {
      display: flex;
      align-items: stretch;
      list-style: none;
    }
  }

  a {
    color: #fff;
    padding: 12px;
    text-decoration: none;

    &:hover {
      color: $color-orange;
    }
  }
}
